export const firebaseConfig = {

  apiKey: "",

  authDomain: "",

  projectId: "",

  storageBucket: "",

  messagingSenderId: "",

  appId: "",

  measurementId: ""

};

export const environment = {
  production: false,
  lbUrl: 'http://localhost:8080'
};
