<div class="">
  <section class="rounded-md p-2 bg-white">
    <div class="flex items-center justify-center my-3">
      <div class="xl:mx-auto shadow-md p-4 xl:w-full xl:max-w-sm 2xl:max-w-md">
        <div class="mb-2"></div>
        <h2 class="text-2xl font-bold leading-tight">
          Regístrate para crear una cuenta
        </h2>
        <p [routerLink]="['/auth/login']" class="mt-2 text-base text-gray-600 hover:underline cursor-pointer">
          ¿Ya tienes una cuenta? Inicia sesión clicando aqui
        </p>
        <form class="mt-5">
          <div class="space-y-4">
            <div>
              <label class="text-base font-medium text-gray-900">
                Nombre completo
              </label>
              <div class="mt-2">
                <input
                  placeholder="Nombre completo"
                  type="text"
                  class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                  name="user_name"
                />
              </div>
            </div>
            <div>
              <label class="text-base font-medium text-gray-900">
                Correo
              </label>
              <div class="mt-2">
                <input
                  placeholder="Correo"
                  type="email"
                  class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                  name="email"
                />
              </div>

              <label class="text-base font-medium text-gray-900">
                Confirmar correo
              </label>
              <div class="mt-2">
                <input
                  placeholder="Confirmar correo"
                  type="email"
                  class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                  name="email"
                />
              </div>
            </div>
            <div>
              <div class="flex items-center justify-between">
                <label class="text-base font-medium text-gray-900">
                  Contraseña
                </label>
              </div>
              <div class="mt-2">
                <input
                  placeholder="Contraseña"
                  type="password"
                  class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                  name="password1"
                />
              </div>

              <div class="flex items-center justify-between">
                <label class="text-base font-medium text-gray-900">
                  Confirmar contraseña
                </label>
              </div>
              <div class="mt-2">
                <input
                  placeholder="Confirmar c  ontraseña"
                  type="password"
                  class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                  name="password2"
                />
              </div>
            </div>
            <div>
              <button
                class="inline-flex w-full items-center justify-center rounded-md bg-black px-3.5 py-2.5 font-semibold leading-7 text-white hover:bg-black/80"
                type="button"
              >
                Crear una cuenta
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
